::root {
  font-family: 'Russo One', sans-serif;
  height: -webkit-fill-available;
}

body {
  background-image: url("../../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Russo One', sans-serif;
  height: 100vh;
}
.theHeader{
  color: #eee;
  text-align: center;
  padding-top: 20px;
}

h2 {
   font-size: 1.25rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    align-items: center;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: #ff0062;
  border: 3px solid black;
  border-radius: 5px;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: orange;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: orange;
  transition: all 0.2s ease-out;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a927f5;
  border-color: #a927f5;
}


#bonus-life {
  font-weight: bold;
  color: white;
  background: red;
  border: 2px solid black;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
  font-size: 15px;
  width: fit-content;
}
.playerBar{
  background-color: white;
  margin-left: 50px;
  margin-bottom: 20px;
}
.cards{
  height: inherit;
  width: fit-content;
  display: inline-block;
  margin-left: 250px;
  margin-top: 100px;
}
#lastLog{
    display: flex;
    justify-content: center;
    width: inherit;
    margin: auto;
}

@media only screen and (max-width: 375px) {
  .cards{
    margin: 4px;
  }
}

@media (min-width:240px)  { 
  /* JioPhone2 */ 
  .cards{
    display: contents;
  }
}

@media (min-width:320px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .cards{
    display: contents;
  }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }

@media (min-width:600px)  { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .cards{
    display: contents;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1280px) { 
  /* hi-res laptops and desktops */ 
  .cards{
    display: inline-table;
    margin: 65px;
    height: 610px;
  }
}